*.pyc
dist
*.egg-info
.svn
.svnignore
.svnexternals
build
rosetta/locale/xx/LC_MESSAGES/*.mo
/.settings
/.project
docs/_build
testproject/coverage.xml
testproject/htmlcov/
testproject/rosetta.db
testproject/src/
testproject/.coverage
/env
.tox
.eggs
.idea
