{% load static %}
#user-tools p span { margin-left:2em; }
table{width:100%;}
td.translation label {font-size: 95%;}
td.translation textarea, td.original { font-size:110%;}
td.translation,td.original {width:30%;}
td.original .plural-container { position:relative}
td.original .context,td.original .message {display:block;}
td.original .context { margin-top: 2em; color: #bbb; font-size:90%; }
td.translation textarea{ width:98.5%; min-height:25px; margin:2px 0; }
.rtl td.translation textarea { direction: rtl;}
.plural span {display:block; margin:2px 0; position:absolute}
td.location code,td.location a { font-size:95%; display:block;}
td.location code.hide { display:none;}
.submit-row {margin-bottom:0;}
li.nobubble,li.nobubble:hover { background-image:none;}
.object-tools li.active, .object-tools li.active a { color:yellow;}
p.paginator input { float:right;}
p.paginator span.space { margin: 0 0.5em;}
.paginator {text-align:left; border:none; background:transparent; }
.paginator strong { margin-left:1em;}
th.r,td.r {text-align:right;}
th.c,td.c {text-align: center;}
td.original code {font-size:90%; padding: 0 1px; }
tr.row2 td.original code {background-color:#FFB2A5; padding: 0 0.3em;}
tr.row1 td.original code {background-color:#FFB2A5;}
.alert { font-weight:bold;padding:4px 5px 4px 25px; margin-left:1em; color: red; background:transparent url({% static 'admin/img/icon-alert.svg' %}) 5px .3em no-repeat; }
p.errornote { margin-top:0.4em;}
#footer { clear:both; color:#999; font-size:9px; margin:0 6px; text-align:left;}
#changelist table tbody td:first-child, #changelist table thead th:first-child  {text-align: left;}
td.hint {color: #777;}
div.module {margin-bottom: 20px;}
.checkall {cursor:pointer}
#toolbar { height:20px}
#toolbar #translate-all { float:right}
#toolbar form { float:left; }
#changelist table thead th { padding: 2px 5px; }


.info-tip::after {
    content: '?';
    color: white;
    background-color: #bbb;
    margin-left: 5px;
    padding: 1px 5px;
    border-radius: 10px;
    font-size: 11px;
}
