{% extends "admin/base.html" %}

{% load i18n static %}

{% block title %}Rosetta{% endblock %}

{% block extrahead %}
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src 'self' data:; script-src-elem 'self' https://translate.yandex.net" />
    <link rel="stylesheet" href="{% static "admin/css/changelists.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "admin/rosetta/css/rosetta.css" %}" type="text/css"/>
    {{ rosetta_settings_js|json_script:"rosetta-settings-js" }}
    <script src="{% static "admin/rosetta/js/rosetta.js" %}"></script>
{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'rosetta-file-list' po_filter='project' %}">Rosetta</a>
    </h1>
{% endblock %}

{% block nav-breadcrumbs %}
    <nav aria-label="{% trans 'Breadcrumbs' %}">
        <div class="breadcrumbs">
            {% block breadcrumbs %}{% endblock %}
        </div>
    </nav>
{% endblock %}

{% block footer %}
    <footer id="footer">
        <a href="https://github.com/mbi/django-rosetta">Rosetta</a>
        <span class="version">{{ version }}</span>
    </footer>
{% endblock %}
