{% extends "rosetta/base.html" %}
{% load i18n %}

{% block pagetitle %}{{block.super}} - {% trans "Language selection" %}{% endblock %}

{% block breadcumbs %}<a href="{% url rosetta-home %}">{% trans "Home" %}</a> &rsaquo; {% trans "Language selection" %}{% endblock %}

{% block main %}
    <h1>&nbsp;</h1>
    <ul class="object-tools">
        <li class="nobubble">{% trans "Filter" %}:</li>
        <li{% ifequal filter 'project' %} class="active"{% endifequal %}><a href="?filter=project">{% trans "Project" %}</a></li>
        <li{% ifequal filter 'third-party' %} class="active"{% endifequal %}><a href="?filter=third-party">{% trans "Third party" %}</a></li>
        <li{% ifequal filter 'django' %} class="active"{% endifequal %}><a href="?filter=django">Django</a></li>
        <li{% ifequal filter 'all' %} class="active"{% endifequal %}><a href="?filter=all">{% trans "All" %}</a></li>
    </ul>

    {% if languages %}
        {% for lang_id, language, pos in languages %}
            <div class="module">
                <h2>{{language}}</h2>
                <table cellspacing="0">
                    <thead>
                        <tr>
                            <th>{% trans "Application" %}</th>
                            <th class="r">{% trans "Progress"%}</th>
                            <th class="r">{% trans "Messages" %}</th>
                            <th class="r">{% trans "Translated" %}</th>
                            <th class="r">{% trans "Fuzzy"%}</th>
                            <th class="r">{% trans "Obsolete"%}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for po in pos %}
                        <tr class="{% cycle row1,row2 %}">
                            <td><a href="{% url rosetta-translate po.appname, lang_id, 'untranslated', 1 %}">{{ po.appname|title }}</a></td>
                            <td class="ch-progress r">{{po.percent_translated|floatformat:0}}%</td>
                            <td class="ch-messages r">{{po.translated_entries|add:po.untranslated_entries}}</td>
                            <td class="ch-translated r"><a href="{% url rosetta-translate po.appname, lang_id, 'translated', 1 %}">{{po.translated_entries}}</a></td>
                            <td class="ch-fuzzy r"><a href="{% url rosetta-translate po.appname, lang_id, 'fuzzy', 1 %}">{{po.fuzzy_entries}}</a></td>
                            <td class="ch-obsolete r">{{po.obsolete_entries}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    {% else %}
        <h1>{% trans "Nothing to translate!" %}</h1>
        <p>{% trans "You haven't specified any languages in your settings file, or haven't yet generated a batch of translation catalogs." %}</p>
        <p>{% blocktrans with "http://docs.djangoproject.com/en/dev/topics/i18n/#topics-i18n" as i18n_doc_link  %}Please refer to <a href="{{i18n_doc_link}}">Django's I18N documentation</a> for a guide on how to set up internationalization for your project.{% endblocktrans %}</p>
    {% endif %}
{% endblock %}
