interactions:
- request:
    body: tag_handling=xml&ignore_tags=var&target_lang=EN&text=Es+gibt+%3Cvar%3Eitems%3C%2Fvar%3E%3Ctype%3E%3Cvar%3Ed%3C%2Fvar%3E%3C%2Ftype%3E+%3Cvar%3Ename%3C%2Fvar%3E%3Ctype%3E%3Cvar%3Es%3C%2Fvar%3E%3C%2Ftype%3E+verf%C3%BCgbar.
    headers:
      Authorization:
      - DeepL-Auth-Key FAKE
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api-free.deepl.com/v2/translate
  response:
    body:
      string: '{"translations":[{"detected_source_language":"DE","text":"There are
        <var>items</var><type><var>d</var></type> <var>name</var><type><var>s</var></type>
        available."}]}'
    headers:
      content-type:
      - application/json
      x-trace-id:
      - ceec50b6cca24e9cbeed2bd1bdf4435a
    status:
      code: 200
      message: OK
[...]
- request:
    body: tag_handling=xml&ignore_tags=var&target_lang=EN&text=H%C3%A1+%3Cvar%3Eitems%3C%2Fvar%3E%3Ctype%3E%3Cvar%3Ed%3C%2Fvar%3E%3C%2Ftype%3E+%3Cvar%3Ename%3C%2Fvar%3E%3Ctype%3E%3Cvar%3Es%3C%2Fvar%3E%3C%2Ftype%3E+dispon%C3%ADveis.
    headers:
      Authorization:
      - DeepL-Auth-Key FAKE
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api-free.deepl.com/v2/translate
  response:
    body:
      string: '{"translations":[{"detected_source_language":"PT","text":"There are
        <var>items</var><type><var>d</var></type> <var>name</var><type><var>s</var></type>
        available."}]}'
    headers:
      content-type:
      - application/json
      x-trace-id:
      - 7f1111989f574859b3db10f1bafa4efb
    status:
      code: 200
      message: OK
version: 1
